<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  {{>navbar}}
  <h1>About</h1>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore dolorum at nisi nam impedit expedita. Repellat tenetur provident harum culpa error quidem nobis? Vitae accusantium cumque fugit modi perferendis aspernatur.</p>
  {{>footer}}
</body>
</html>